.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 2.1rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
  vertical-align: middle;
}


.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}
.accordion summary{
  justify-content: space-between ;
  align-items: center;
}
.more-read-btn {
  text-align: center;
  margin-top: 60px;
}
.more-read-btn a {
  padding: 16px 59px;
  border: 1px solid black;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-decoration: unset;
  color: black;
  background-color: #ffff;
  border-radius: 5px;
}

@media (max-width: 440px) {
  .collapsible-content__heading {
    font-family: Calluna;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .accordion__title {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
  }
  .more-read-btn a {
    font-size: 18px;
    padding: 16px 35px;
  }
}